@tailwind base;
@tailwind components;
@tailwind utilities;


.ql-editor {
  padding: 0 !important;
  font-family: Inter !important;
}

.ql-editor::before {
  left: 0 !important;
  font-family: Inter !important;
  text-align: left;
  font-style: normal !important;
  color: #cdd0d5 !important;
}

.ql-editor li {
  padding-left: 0px !important;
}

.figma-dark .ql-editor {
  color: white;
}

.figma-dark input {
  color: white;
}

.figma-dark .ql-editor {
  color: #CDD0D5;
}

.figma-light input::placeholder {
  color: #CDD0D5 !important;
}

.figma-dark input::placeholder,
.figma-dark .ql-editor::before {
  color: #525866 !important;
}

.figma-dark .username {
  color: #CDD0D5;
}

.figma-dark .user {
  background: #2C2C2C;
}